apiVersion: v1
kind: PersistentVolume
metadata:
  name: nfs-data-pv
spec:
  capacity:
    storage: 1Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  mountOptions:
    - hard
    - nfsvers=4.1
    - actimeo=5
    - rsize=1048576
    - wsize=1048576
  nfs:
    server: "192.168.1.100"    # Replace with Jetson/NFS server IP
    path: /export/data
